<div ng-show="nowPlaying.id" class="row mb10">
  Now playing:
  <div>
    <strong>{{nowPlaying.title}}</strong>
    <my-movie-controls movie="nowPlaying" playing="nowPlaying"></my-movie-controls>
  </div>
</div>

<div ng-show="playlist.length" class="row mb10">
  Next:
  <div ng-repeat="item in playlist">
    <div>
      <strong>{{item.title}}</strong>
      {{item.duration | secondsToString}}
    </div>
  </div>
</div>

<div class="row">
  <form ng-submit="search(searchValue)">
    <div class="form-group">
      <input class="form-control"
        ng-model-options="{ updateOn: 'blur' }"
        ng-model="searchValue"
        ng-change="search(searchValue)"
        placeholder="Search movie">
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary btn-block" value="Search YouTube" />
    </div>
  </form>
</div>

<div class="row">
  <div ng-if="foundItems.length && 0">
    <button class="btn btn-success btn-block" ng-click="playAll()">Play all</button>
  </div>
  <div class="movie col-md-6 col-sm-12" ng-repeat="movie in foundItems">
    <my-movie movie="movie" playing="nowPlaying" favourite-categories="favouriteCategories"></my-movie>
  </div>
</div>
